.organizations-container {
    border-collapse: collapse;
    box-sizing: border-box;
}

.table-buttons {
    display: block;
    margin: 10px;
    text-align: right;
}

.navbar {
    font-weight: 700;
    line-height: 1.5rem;
    margin: 30px auto 0;
}
