/**
* Media Query Constants
*/
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1200px;

/**
* Fonts
*/
$BaseFont: 'Lato', sans-serif;
 
/**
* Colors
*/
$MeshBackgroundGray: #EDF1F5;
$MeshBorderGray:#E0E6ED;
$MeshIconColor: #adadad;
$MeshShadow: 0 0 1px rgba(0,0,0,.09), 0 2px 5px rgba(0,0,0,.03);
 

// Standard CSS Defaults 
 h1, h2, h3, h4, h5, input, button {
     font-family: $BaseFont;
 }
   
   // Base CSS
 html,
 body {
     height: 100%;
     margin: 0;
     padding: 0;
     background-color:#f8fafc;
 }